input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid green;
    padding: 10px 38px 10px 48px;
    border-radius: 20px;
    outline: none;
}

img {
    position: absolute;
    top: 49%;
    width: 20px;
    height: 20px;
}

.img1 {
    left: 44.2%;
}

.img2 {
    left: 54.5%;
    cursor: pointer;
}